.plyr {
  --plyr-color-main: #ff0000;
  --plyr-range-thumb-background: #ff0000;
  --plyr-menu-background: #181818;
  --plyr-menu-color: white;
  --plyr-menu-border-color: #262626;

  width: 100%;
  height: 100%;
}

.plyr__progress input {
  cursor: pointer;
}

.plyr__video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 2;
}

.episode-buttons {
  width: 100% !important
}
